<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guyue.pms.mapper.DbUtilMapper">
    <!--插入单条记录-->
    <insert id="insert" parameterType="com.guyue.pms.bean.db.InsertModel" >
    insert into ${tableName} (
        <foreach collection="fields" index="index" item="item" separator=",">
        ${item}
        </foreach>
        ) values
        <foreach collection="values" index="index" item="item" separator=",">
            (
            <foreach collection="item" index="i" item="it" separator=",">
                ${it}
            </foreach>
            )
        </foreach>
</insert>


   <!-- <update id="update" parameterType="com.sr.suray.bean.WeightStandard">
        update WeightStandard
        <set>
          weight = #{weight},
         updateymd=REPLACE(REPLACE(REPLACE(REPLACE(CONVERT(CHAR(30),GETDATE(),121),'-',''),':',''),'.',''),' ',''),
        updateId = #{updateId}
        </set>
    </update>


    <select id="selectCount"  resultType="int">
        select count(keyId) from weightStandard
    </select>

    <select id="selectWeight"  resultType="Double">
        select weight from weightStandard
    </select>

    <insert id="insert" parameterType="com.sr.suray.bean.WeightStandard" >
    insert into weightStandard (keyId,weight,insertYmd,insertId,updateYmd,updateId,seq
    ) values (#{keyId}, #{weight}, #{insertYmd}, #{insertId}, #{updateYmd}, #{updateId},#{seq})
  </insert>-->
</mapper>